<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>dataview-cloud</display-name>


    <!-- test servlet -->
    <servlet>
        <display-name>TestServlet</display-name>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.bohan.controller.TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>


    <servlet>
        <description></description>
        <display-name>Mediator</display-name>
        <servlet-name>Mediator</servlet-name>
        <servlet-class>Mediator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Mediator</servlet-name>
        <url-pattern>/Mediator</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>UserRegister</display-name>
        <servlet-name>UserRegisterServlet</servlet-name>
        <servlet-class>usermgmt.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegisterServlet</servlet-name>
        <url-pattern>/UserReg</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>UserLogin</display-name>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>usermgmt.UserLoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>

    <!-- user forget password  servlet-->

    <!-- send validation vode -->
    <servlet>
        <display-name>ForGotPasswordServlet</display-name>
        <servlet-name>ForGotPasswordServlet</servlet-name>
        <servlet-class>com.bohan.controller.users.ForGotPasswordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ForGotPasswordServlet</servlet-name>
        <url-pattern>/sendCode</url-pattern>
    </servlet-mapping>

    <!-- check if validation code is correct -->
    <servlet>
        <display-name>CheckValidationServlet</display-name>
        <servlet-name>CheckValidationServlet</servlet-name>
        <servlet-class>com.bohan.controller.users.CheckValidationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckValidationServlet</servlet-name>
        <url-pattern>/validation</url-pattern>
    </servlet-mapping>


    <!-- reset password -->
    <servlet>
        <display-name>ChangePasswordServlet</display-name>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.bohan.controller.users.ChangePasswordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>

    <!-- update user profile -->
    <servlet>
        <display-name>UpdateProfileServlet</display-name>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>com.bohan.controller.users.UpdateProfileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>


    <!-- Get user's profile -->
    <servlet>
        <display-name>GetUserProfile</display-name>
        <servlet-name>GetUserProfile</servlet-name>
        <servlet-class>com.bohan.controller.users.GetUserProfile</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetUserProfile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <!--  index controller -->
    <servlet>
        <display-name>toNewWorkbench</display-name>
        <servlet-name>toNewWorkbenchServlet</servlet-name>
        <servlet-class>com.bohan.controller.IndexServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>toNewWorkbenchServlet</servlet-name>
        <url-pattern>/toNewWorkbench</url-pattern>
    </servlet-mapping>

    <!-- created by bohan -->
    <servlet>
        <display-name>GetDropBoxListsServlet</display-name>
        <servlet-name>GetDropBoxListsServlet</servlet-name>
        <servlet-class>com.bohan.controller.GetDropBoxListsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetDropBoxListsServlet</servlet-name>
        <url-pattern>/listDropbox</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
<!--        <welcome-file>index.html</welcome-file>-->
        <welcome-file>login.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>

    </welcome-file-list>


</web-app>